---
---

$brand-primary: #00ccff;
$text-color: white !default;
$grid-gutter-width: 0px !default;

$content-nav-width: 82px;
$content-leftmar: 110px;

@import "bootstrap";
@import "stars.scss";
@import "global.scss";
