<footer class="sitefooter container">
    <div class="col nav-logo col-xs-12">
        <a href="#" title="{{ site.name }}"><img src="{{ site.base_path }}/{{ site.site_logo }}" alt="{{ site.name }}" /></a>
    </div>
    <div class="col nav-tech col-xs-12">
        <h4>Technology</h4>
        <ul>
            <li><a href="https://blockstream.com/technology#sidechains" title="Sidechains">Sidechains</a></li>
            <li><a href="https://blockstream.com/technology#elements" title="Elements">Elements</a></li>
            <li><a href="https://blockstream.com/technology/sidechains.pdf" title="Whitepaper">Whitepaper</a></li>
        </ul>
    </div>
    <div class="col nav-about col-xs-12">
        <h4>About</h4>
        <ul>
            <li><a href="https://blockstream.com/team" title="Team">Team</a></li>
            <li><a href="https://blockstream.com/blog" title="Blog">Blog</a></li>
            <li><a href="https://blockstream.com/careers" title="Careers">Careers</a></li>
        </ul>
    </div>
    <div class="col nav-follow col-xs-12">
        <h4>Follow Us</h4>
        <ul>
            <li><a href="#" title="">Social Buttons Here</a></li>
            <li><a href="mailto:inquiries@blockstream.com" title="Inquiries">Inquiries</a></li>
            <li><a href="mailto:press@blockstream.com" title="Press">Press</a></li>
        </ul>
    </div>
    <p>&copy; 2017 Blockstream, Inc.</p>
</footer>