---
layout: default
---
<section class="content">
    <div class="content-head" {% if 1>2 %} style="background-image: url('{{ site.base_path }}/{{ page.head_bg }}');" {% endif %} >
        <div class="col-left">
            {% if page.yt_url %}
            <div class="embed-container"><iframe src="{{ page.yt_url }}" frameborder="0" allowfullscreen></iframe></div>
            {% endif %}
        </div>
        <div class="col-right">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
        </div>
        <img class="scroll" src="{{ site.base_path }}/images/scroll.png" alt="Scroll To Explore" />
    </div>
    <div class="entry">
        {{ content }}
        {% if page.foot_descr %}
        <a href="#" title="" class="foot_descr">
            <div class="flex-container">
                <p class="flex-item">{{ page.foot_descr }}</p>
                <img class="flex-item" src="{{ site.base_path }}/images/nextarrow.png" alt="" />
            </div>
        </a>
        {% endif %}
    </div>
</section>
